.header {
   background-color: royalblue;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header h1 {
   font-size: 36px;
}

.header__login {
   margin-right: lrem;
}